<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- TEST -->
<hibernate-configuration>

	<session-factory>
		<!-- Settings for a remote Oracle9/10g database.  -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/catissuecore</property>
		<property name="connection.username">catissue_core</property>
		<property name="connection.password">catissue_core</property>
		<!-- Use the C3P0 connection pool.  -->
		<property name="c3p0.min_size">3</property>
		<property name="c3p0.max_size">5</property>
		<property name="c3p0.timeout">2800</property>
		<!-- Print SQL to stdout. -->
		<property name="show_sql">false</property>
		
		<!--  mapping files. -->
        	<mapping resource="edu/wustl/catissuecore/domainobject/impl/AddressImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/AuditEventImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/AuditEventDetailsImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/AuditEventLogImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/BiohazardImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/CancerResearchGroupImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/ClinicalReportImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/CollectionProtocolEventImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/CollectionProtocolRegistrationImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/DepartmentImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/DistributedItemImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/ExternalIdentifierImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/InstitutionImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/ParticipantImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/ParticipantMedicalIdentifierImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/SiteImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/SpecimenImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/SpecimenCharacteristicsImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/SpecimenCollectionGroupImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/SpecimenEventParametersImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/SpecimenProtocolImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/SpecimenRequirementImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/StorageContainerImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/StorageContainerCapacityImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/StorageContainerDetailsImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/StorageTypeImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/UserImpl.hbm.xml"/>
		<mapping resource="edu/wustl/catissuecore/domainobject/impl/DistributionImpl.hbm.xml"/>


	</session-factory>

</hibernate-configuration>
